#chooseAC
{
    -fx-background-color:rgb(216, 139, 52);
    -fx-background-radius: 5,5,5,5;
    -fx-text-fill:black;
    -fx-font-size: 20;
    -fx-font-family: Georgia;
    -fx-font-weight: bold ;
    -fx-cursor: Hand;
}
.sceneColor
{
    -fx-background-color:rgb(237, 234, 234);
}

.titleStyle
{
    -fx-text-fill:darkorange;
    -fx-font-size: 60;
    -fx-font-family: Impact,SansSerif;
    -fx-font-weight: bold ;
}

#sideMenu
{
    -fx-background-color:rgb(244, 161, 66);
    -fx-background-radius: 5,5,5,5;
    -fx-text-fill:black;
    -fx-font-size: 20;
    -fx-font-family: Georgia;
    -fx-font-weight: bold ;
}
#MarkedText
{
    -fx-cursor: Hand;
    -fx-background-color:rgb(244, 161, 66);
    -fx-background-radius: 5,5,5,5;
    -fx-text-fill:black;
    -fx-font-family: Georgia;
    -fx-font-weight: bold ;
    -fx-font-size: 20.4;
}
